@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>国网辽宁计量中心党建系统</title>
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Common.css">
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/JS/Common.js"></script>

</head>
<body>


    <table id="dg" class="easyui-datagrid"  style="width:auto;height:350px;padding:10px"
           data-options="rownumbers:true,toolbar:'#tb',singleSelect:true , pagination:true">
        <thead>
            <tr>
                @*<th data-options="field:'ID',width:80">ID</th>*@
                <th data-options="field:'user_name'" align="center">用户名</th>
                <th data-options="field:'user_rname',align:'right'" align="center">姓名</th>
                <th data-options="field:'user_role',align:'right'" align="center">角色</th>
                <th data-options="field:'user_dept',align:'right'" align="center">部门</th>

            </tr>
        </thead>
    </table>
    <div id="tb" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="$('#dlg').dialog('open')">增加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="update()">修改</a>
            <!--<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"></a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true"></a>-->
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deluser()">删除</a>
            <input id="user_name" class="easyui-textbox" data-options="prompt:'请输入用户名'" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchuser()">查询</a>
        </div>

    </div>
    <div style="margin:20px 0;">
        @*<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('open')">Open</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#dlg').dialog('close')">Close</a>*@
    </div>


    <div id="dlg" class="easyui-dialog" title="新增用户" style="width:300px;height:400px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        adduser();
                }
				}]
			">
        <div style="width:200px;height:100px;padding:10px;margin:auto">
            <div class="sp1">用户名：</div><input class="easyui-textbox" type="text" id="Username" style="width:150px;"/></br>
            <div class="sp1">密码：</div><input class="easyui-textbox" type="text" id="Password" style="width:150px;"/></br>
            <div class="sp1">姓名：</div><input class="easyui-textbox" type="text" id="Name" style="width:150px;"/></br>
            <div class="sp1">角色：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Role" data-options="panelHeight:150,editable:false">
    <option value="组织委员">组织委员</option>
    <option value="宣传委员">宣传委员</option>
    <option value="支部书记">支部书记</option>
    <option value="党群组织专责">党群组织专责</option>
    <option value="党群宣传专责">党群宣传专责</option>
    <option value="党群主任">党群主任</option>
    <option value="党委委员">党委委员</option>
    <option value="党委书记">党委书记</option>
</select>
            </br>
            <div class="sp1">党支部：</div><select class="easyui-combobox" name="state" style="width:150px;"id="Dept" data-options="panelHeight:150,editable:false">
                <option value="中心党群">中心党群</option>
                <option value="室内检定党支部">室内检定党支部</option>
                <option value="现场检验党支部">现场检验党支部</option>
                <option value="标准量传党支部">标准量传党支部</option>
                <option value="配送党支部">配送党支部</option>
                <option value="运营管理党支部">运营管理党支部</option>
                <option value="综合党支部">综合党支部</option>
                <option value="技术质检党支部">技术质检党支部</option>
            </select>
            </br>
        </div>
</div>
    <div id="dlg_" class="easyui-dialog" title="编辑用户" style="width:400px;height:400px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        upduser();
                }
				}]
			">
        <div style="width:200px;height:100px;padding:10px;margin:auto">
            <div class="sp1">用户名：</div><input type="text" class="easyui-textbox" id="Username_" readonly="readonly" style="width:150px;"/></br>
            <div class="sp1">姓名：</div><input type="text" class="easyui-textbox" id="Name_" style="width:150px;"/></br>
            <div class="sp1">角色：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Role_" data-options="panelHeight:150,editable:false" >
    <option value="组织委员">组织委员</option>
    <option value="宣传委员">宣传委员</option>
    <option value="支部书记">支部书记</option>
    <option value="党群组织专责">党群组织专责</option>
    <option value="党群宣传专责">党群宣传专责</option>
    <option value="党群主任">党群主任</option>
    <option value="党委委员">党委委员</option>
    <option value="党委书记">党委书记</option>
            </select>
            </br>
            <div class="sp1">党支部：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Dept_" data-options="panelHeight:150,editable:false">
                <option value="中心党群">中心党群</option>
                <option value="室内检定党支部">室内检定党支部</option>
                <option value="现场检验党支部">现场检验党支部</option>
                <option value="标准量传党支部">标准量传党支部</option>
                <option value="配送党支部">配送党支部</option>
                <option value="运营管理党支部">运营管理党支部</option>
                <option value="综合党支部">综合党支部</option>
                <option value="技术质检党支部">技术质检党支部</option>
            </select>
            </br>
        </div>
    </div>

    <script type="text/javascript">
        var Username;
        var Password;
        var Name;
        var Role;
        var Department;

        $(function () {
            searchuser();
        });

        function adduser() {

            Username = $("#Username").textbox('getValue');
            Password = $("#Password").textbox('getValue');
            Name = $("#Name").textbox('getValue');
            Role = $("#Role").combobox('getValue');
            Department = $("#Dept").combobox('getValue');
            if (/.*[\u4e00-\u9fa5]+.*$/.test(Username) || /.*[\u4e00-\u9fa5]+.*$/.test(Password))
            { alert("用户名或密码中不能含有汉字！"); return; }
            if (Department == "中心党群" && (Role != "党群组织专责" && Role != "党群宣传专责" && Role != "党群主任" && Role != "党委委员" && Role != "党委书记") )
            { alert("部门与角色不对应"); return; }
            if (Department != "中心党群" && (Role != "组织委员" && Role != "宣传委员" && Role != "支部书记"))
            { alert("部门与角色不对应"); return; }
            if (Username == "") { alert("请输入用户名"); return; }
            if (Password == "") { alert("请输入密码"); return; }
            if (Name == "") { alert("请输入姓名"); return; }
            $.ajax({
                url: "/UserManage/adduser",
                type: "get",
                data: {
                    "Username": Username,
                    "Password": Password,
                    "Name": Name,
                    "Role": Role,
                    "Department": Department
                },
                success: function (data) {
                    if (data == 1) {
                        alert("新增用户成功！");
                        searchuser();
                        $('#dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $("#Username").textbox('setValue', "");
                        $("#Password").textbox('setValue', "");
                        $("#Name").textbox('setValue', "");
                        $("#Role").combobox('setValue', "组织委员");
                        $("#Dept").combobox('setValue', "中心党群");
                    }
                    else if (data == 2)
                        alert("用户名已存在！");
                    else
                        alert("新增失败！");
                },
                error: function () {
                    alert("请求失败！"); 
                }
            });

        }
        function deluser() {
            var row = $("#dg").datagrid('getSelected');
            if (row == null) {
                alert("请选择一行用户信息！")
                return;
            }
            Username = $('#dg').datagrid('getSelected').user_name;
            $.messager.confirm('确认删除', "确认删除用户" + Username + "吗？", function (r) {
                if (r) {
                    $.ajax({
                        url: "/UserManage/deluser",
                        type: "get",
                        data: {
                            "Username": Username
                        },
                        success: function (data) {
                            if (data > 0) {
                                alert("删除用户成功！");
                                searchuser();
                                $('#dg').datagrid('reload');
                            }
                            else alert("删除用户失败！");
                        },
                        error: function () {
                            alert("请求失败！");
                        }
                    });
                }
            });
            $("#user_name").textbox('setValue', null);
            searchuser();
        }
        function update() {
            var row = $("#dg").datagrid('getSelected');
            if (row == null) {
                alert("请选择一行用户信息！")
                return;
            }
            Username = $('#dg').datagrid('getSelected').user_name;
            Name = $('#dg').datagrid('getSelected').user_rname;
            Role = $('#dg').datagrid('getSelected').user_role;
            Department = $('#dg').datagrid('getSelected').user_dept;
            $('#Username_').textbox('setValue', Username);
            $('#Name_').textbox('setValue', Name);
            $('#Role_').combobox('setValue',Role);
            $('#Dept_').combobox('setValue',Department);
            $('#dlg_').dialog('open');
        }
            function upduser() {
            Username = $("#Username_").textbox('getValue');
            Name = $("#Name_").textbox('getValue');
            Role = $("#Role_").combobox('getValue');
            Department = $("#Dept_").combobox('getValue');
            if (/.*[\u4e00-\u9fa5]+.*$/.test(Username) || /.*[\u4e00-\u9fa5]+.*$/.test(Password)) { alert("用户名或密码中不能含有汉字！"); return; }
            if (Department == "中心党群" && (Role != "党群组织专责" && Role != "党群宣传专责" && Role != "党群主任" && Role != "党委委员" && Role != "党委书记")) { alert("部门与角色不对应"); return; }
            if (Department != "中心党群" && (Role != "组织委员" && Role != "宣传委员" && Role != "支部书记")) { alert("部门与角色不对应"); return; }
            if (Username == "") { alert("请输入用户名"); return; }
            if (Name == "") { alert("请输入姓名"); return; }
            $.messager.confirm('确认编辑', "确认编辑用户" + Username + "吗？", function (r) {
                if (r) {
                    $.ajax({
                        url: "/UserManage/upduser",
                        type: "get",
                        data: {
                            "Username": Username,
                            "Name": Name,
                            "Role": Role,
                            "Department": Department
                        },
                        success: function (data) {
                            if (data > 0) {
                                alert("编辑用户成功！");
                                $("#user_name").textbox('setValue', null);
                                searchuser();
                                $('#dlg_').dialog('close');
                                $('#dg').datagrid('reload');
                            }
                            else alert("编辑用户失败！");
                        },
                        error: function () {
                            alert("请求失败！");
                        }
                    });
                }
            });
        }


        function searchuser() {
            var username = $("#user_name").textbox('getValue');
            $.ajax({
                url: "/UserManage/GetUser",
                type: "get",
                data: {
                    "user_name": username
                },
                success: function (data) {
                    $('#dg').datagrid({ loadFilter: pagerFilter }).datagrid('loadData', data);
                },
                error: function () {
                    alert("请求失败！");
                }
            });

        }

    </script>
</body>

</html>