@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>国网辽宁计量中心党建系统</title>
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Common.css">
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/JS/Common.js"></script>
    <script type="text/javascript" src="~/JS/ajaxfileupload.js"></script>
</head>
<body>


    <table id="dg" class="easyui-datagrid" style="width:auto;height:350px;padding:10px"
           data-options="rownumbers:true,toolbar:'#tb',singleSelect:true , pagination:true">
        <thead>
            <tr>
                <th data-options="field:'flow_num'" align="center">流程编号</th>
                <th data-options="field:'flow_type',align:'right'" align="center">流程类型</th>
                <th data-options="field:'flow_dept',align:'right'" align="center">流程所在部门</th>
                <th data-options="field:'flow_state',align:'right'" align="center">流程状态</th>
                <th data-options="field:'flow_founder',align:'right'" align="center">流程所在人</th>
                <th data-options="field:'flow_stime',align:'right'" align="center">流程开始时间</th>
                <th data-options="field:'flow_etime',align:'right'" align="center">流程结束时间</th>
                <th data-options="field:'flow_order',align:'right',hidden:true" align="center">流程顺序号</th>
                <th data-options="field:'flow_oper',align:'right',formatter:operate_formatter" align="center">操作</th>
            </tr>
        </thead>
    </table>

    <div id="dlg_newJJFZ_0" class="easyui-dialog" title="发展积极分子流程_第一步_填写申请提报审批" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newJJFZ_00();
                }
				}]
			">
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">人员姓名：</div><input type="text" style="width:150px;" class="easyui-textbox" id="Person_Name" /></br>
        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">所在支部：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Person_Dept" data-options="panelHeight:150,editable:false">
                <option value="室内检定党支部">室内检定党支部</option>
                <option value="现场检验党支部">现场检验党支部</option>
                <option value="标准量传党支部">标准量传党支部</option>
                <option value="配送党支部">配送党支部</option>
                <option value="运营管理党支部">运营管理党支部</option>
                <option value="综合党支部">综合党支部</option>
                <option value="技术质检党支部">技术质检党支部</option>
            </select></br>
        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">入党申请书：</div><input type="file" id="Person_Application" style="width:200px;" name="Person_Application" data-options="prompt:'请上传入党申请书',buttonText:'上传'">
        </div>
    </div>
    <div id="dlg_newJJFZ_1" class="easyui-dialog" title="发展积极分子流程_第二步_支部书记审批申请" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,
				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newJJFZ_10();
                }
				}]
			">
        <div>

            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">人员姓名：</div><input type="text" style="width:150px;" class="easyui-textbox" id="Person_Name0" readonly="readonly" /></br>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">所在支部：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Person_Dept0" readonly="readonly" data-options="panelHeight:150,editable:false">
                    <option value="室内检定党支部">室内检定党支部</option>
                    <option value="现场检验党支部">现场检验党支部</option>
                    <option value="标准量传党支部">标准量传党支部</option>
                    <option value="配送党支部">配送党支部</option>
                    <option value="运营管理党支部">运营管理党支部</option>
                    <option value="综合党支部">综合党支部</option>
                    <option value="技术质检党支部">技术质检党支部</option>
                </select></br>

            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">入党申请书：</div><a href="##" id="Person_Application0" target="_blank" style="width:200px;" name="newJJFZ">入党申请书附件</a>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion0" data-options="panelHeight:150,editable:false">
                    <option value="通过">通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion0" /></br>
            </div>

        </div>

    </div>
    <div id="dlg_newJJFZ_2" class="easyui-dialog" title="发展积极分子流程_第三步_补充积极分子信息并归档" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,


				buttons: [{
					text:'提交归档',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newJJFZ_20();
                }
				}]
			">
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">员工姓名：</div><input type="text" style="width:150px;" class="easyui-textbox" readonly="readonly" id="Person_Name1" /></br>
            <div class="sp1">毕业院校：</div><input type="text" style="width:150px;" class="easyui-textbox" id="Person_College1" /></br>
            <div class="sp1">所在支部：</div><select class="easyui-combobox" readonly="readonly" name="state" style="width:150px;" id="Person_Dept1" data-options="panelHeight:150,editable:false">
                <option value="室内检定党支部">室内检定党支部</option>
                <option value="现场检验党支部">现场检验党支部</option>
                <option value="标准量传党支部">标准量传党支部</option>
                <option value="配送党支部">配送党支部</option>
                <option value="运营管理党支部">运营管理党支部</option>
                <option value="综合党支部">综合党支部</option>
                <option value="技术质检党支部">技术质检党支部</option>
            </select></br>
            <div class="sp1">员工学历：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Person_Eduback1" data-options="panelHeight:150" ,editable:false>
                <option value="大学专科">大学专科</option>
                <option value="大学本科">大学本科</option>
                <option value="硕士研究生">硕士研究生</option>
                <option value="博士研究生">博士研究生</option>
            </select></br>


        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">手机号码：</div><input type="text" style="width:150px;" class="easyui-textbox" id="Person_Phonenum1" /></br>
            <div class="sp1">电子邮箱：</div><input type="text" style="width:150px;" class="easyui-textbox" id="Person_Email1" /></br>
            <div class="sp1">员工性别：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Person_Sex1" data-options="panelHeight:150,editable:false">
                <option value="男">男</option>
                <option value="女">女</option>

            </select></br>
            <div class="sp1">员工学位：</div><select class="easyui-combobox" name="state" style="width:150px;" id="Person_Degree1" data-options="panelHeight:150,editable:false">
                <option value="学士学位">学士学位</option>
                <option value="硕士学位">硕士学位</option>
                <option value="博士学位">博士学位</option>
                <option value="无">无</option>
            </select></br>

        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">出生日期：</div><input type="text" id="Person_Birth1" class="easyui-datebox" data-options="value:'Today',editable:false" /></br>
            <div class="sp1">工作日期：</div><input type="text" id="Person_CJGZdate1" class="easyui-datebox" data-options="value:'Today',editable:false" /></br>
            @*<div class="sp1">入党日期：</div><input type="text" id="Person_YBDYdate1" class="easyui-datebox" data-options="value:'Today',editable:false" /></br>
                <div class="sp1">转正日期：</div><input type="text" id="Person_ZGDYdate1" class="easyui-datebox" data-options="value:'Today',editable:false" /></br>*@
        </div>
    </div>
    <div id="dlg_newYBDY_0" class="easyui-dialog" title="发展预备党员流程_第一步_填写申请提报审批" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newYBDY_00();
                }
				}]
			">
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">积极分子员工编号：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_Id2" name="newYBDY" /></br>
            <div class="sp1">入党志愿书：</div><input type="file" id="Person_Willing2" style="width:200px;" name="Person_Willing2" data-options="prompt:'请上传入党志愿书',buttonText:'上传'"></br>
            <div class="sp1">政审结论：</div><input type="file" id="Person_ZSJL2" style="width:200px;" name="Person_ZSJL2" data-options="prompt:'请上传政审结论',buttonText:'上传'"></br>
        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">入党介绍人1员工编号：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerA2" name="newYBDY" /></br>
            <div class="sp1">支部意见：</div><input type="file" id="Person_DeptOpi2" style="width:200px;" name="Person_DeptOpi2" data-options="prompt:'请上传支部意见',buttonText:'上传'"></br>
            <div class="sp1">集中培训证明材料：</div><input type="file" id="Person_Train2" style="width:200px;" name="Person_Train2" data-options="prompt:'请上传集中培训证明材料',buttonText:'上传'"></br>
        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">入党介绍人2员工编号：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerB2" name="newYBDY" /></br>
            <div class="sp1">党委意见：</div><input type="file" id="Person_DWOpi2" style="width:200px;" name="Person_DWOpi2" data-options="prompt:'请上传党委意见',buttonText:'上传'"></br>
            <div class="sp1">所在支部：</div><select class="easyui-combobox" name="newYBDY" style="width:200px;" id="Person_Dept2" data-options="panelHeight:150,editable:false">
                <option value="室内检定党支部">室内检定党支部</option>
                <option value="现场检验党支部">现场检验党支部</option>
                <option value="标准量传党支部">标准量传党支部</option>
                <option value="配送党支部">配送党支部</option>
                <option value="运营管理党支部">运营管理党支部</option>
                <option value="综合党支部">综合党支部</option>
                <option value="技术质检党支部">技术质检党支部</option>
            </select></br>
        </div>
    </div>
    <div id="dlg_newYBDY_1" class="easyui-dialog" title="发展预备党员流程_第二步_支部书记审核" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newYBDY_10();
                }
				}]
			">
        <div style="height: 150px;width: 759px;">
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">积极分子姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_Name3" name="newYBDY" readonly="readonly" />
                <div class="sp1">入党志愿书：</div><a href="##" target="_blank" id="Person_Willing3" style="width:200px;" name="newJJFZ">入党志愿书附件</a>
                <div class="sp1">政审结论：</div><a href="##" target="_blank" id="Person_ZSJL3" style="width:200px;" name="newJJFZ">政审结论附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">入党介绍人1姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerA3" name="newYBDY" readonly="readonly" /></br>
                <div class="sp1">支部意见：</div><a href="##" target="_blank" id="Person_DeptOpi3" style="width:200px;" name="newJJFZ">支部意见附件</a>
                <div class="sp1">集中培训证明材料：</div><a href="##" target="_blank" id="Person_Train3" style="width:200px;" name="newJJFZ">集中培训证明材料附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">入党介绍人2姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerB3" name="newYBDY" readonly="readonly" /></br>
                <div class="sp1">党委意见：</div><a href="##" target="_blank" id="Person_DWOpi3" style="width:200px;" name="newJJFZ">党委意见附件</a>
                <div class="sp1">所在支部：</div><select class="easyui-combobox" name="newYBDY" style="width:200px;" id="Person_Dept3" readonly="readonly" data-options="panelHeight:150,editable:false">
                    <option value="室内检定党支部">室内检定党支部</option>
                    <option value="现场检验党支部">现场检验党支部</option>
                    <option value="标准量传党支部">标准量传党支部</option>
                    <option value="配送党支部">配送党支部</option>
                    <option value="运营管理党支部">运营管理党支部</option>
                    <option value="综合党支部">综合党支部</option>
                    <option value="技术质检党支部">技术质检党支部</option>
                </select></br>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion3" data-options="panelHeight:150,editable:false">
                    <option value="通过" selected>通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion3" /></br>
            </div>

        </div>
    </div>
    <div id="dlg_newYBDY_2" class="easyui-dialog" title="发展预备党员流程_第三步_党群部审核" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newYBDY_20();
                }
				}]
			">
        <div style="height: 150px;width: 759px;">
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">积极分子姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_Name4" name="newYBDY" readonly="readonly" />
                <div class="sp1">入党志愿书：</div><a href="##" target="_blank" id="Person_Willing4" style="width:200px;" name="newJJFZ">入党志愿书附件</a>
                <div class="sp1">政审结论：</div><a href="##" target="_blank" id="Person_ZSJL4" style="width:200px;" name="newJJFZ">政审结论附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">入党介绍人1姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerA4" name="newYBDY" readonly="readonly" /></br>
                <div class="sp1">支部意见：</div><a href="##" target="_blank" id="Person_DeptOpi4" style="width:200px;" name="newJJFZ">支部意见附件</a>
                <div class="sp1">集中培训证明材料：</div><a href="##" target="_blank" id="Person_Train4" style="width:200px;" name="newJJFZ">集中培训证明材料附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">入党介绍人2姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerB4" name="newYBDY" readonly="readonly" /></br>
                <div class="sp1">党委意见：</div><a href="##" target="_blank" id="Person_DWOpi4" style="width:200px;" name="newJJFZ">党委意见附件</a>
                <div class="sp1">所在支部：</div><select class="easyui-combobox" name="newYBDY" style="width:200px;" id="Person_Dept4" readonly="readonly" data-options="panelHeight:150,editable:false">
                    <option value="室内检定党支部">室内检定党支部</option>
                    <option value="现场检验党支部">现场检验党支部</option>
                    <option value="标准量传党支部">标准量传党支部</option>
                    <option value="配送党支部">配送党支部</option>
                    <option value="运营管理党支部">运营管理党支部</option>
                    <option value="综合党支部">综合党支部</option>
                    <option value="技术质检党支部">技术质检党支部</option>
                </select></br>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">党支部审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion40" data-options="panelHeight:150,editable:false" readonly="readonly">
                    <option value="通过">通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">党支部审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion40" readonly="readonly" /></br>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion4" data-options="panelHeight:150,editable:false">
                    <option value="通过">通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion4" /></br>
            </div>
        </div>
    </div>
    <div id="dlg_newYBDY_3" class="easyui-dialog" title="发展预备党员流程_第四步_党委审批" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newYBDY_30();
                }
				}]
			">
        <div style="height: 150px;width: 759px;">
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">积极分子姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_Name5" name="newYBDY" readonly="readonly" />
                <div class="sp1">入党志愿书：</div><a href="##" target="_blank" id="Person_Willing5" style="width:200px;" name="newJJFZ">入党志愿书附件</a>
                <div class="sp1">政审结论：</div><a href="##" target="_blank" id="Person_ZSJL5" style="width:200px;" name="newJJFZ">政审结论附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">入党介绍人1姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerA5" name="newYBDY" readonly="readonly" /></br>
                <div class="sp1">支部意见：</div><a href="##" target="_blank" id="Person_DeptOpi5" style="width:200px;" name="newJJFZ">支部意见附件</a>
                <div class="sp1">集中培训证明材料：</div><a href="##" target="_blank" id="Person_Train5" style="width:200px;" name="newJJFZ">集中培训证明材料附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">入党介绍人2姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_IntroducerB5" name="newYBDY" readonly="readonly" /></br>
                <div class="sp1">党委意见：</div><a href="##" target="_blank" id="Person_DWOpi5" style="width:200px;" name="newJJFZ">党委意见附件</a>
                <div class="sp1">所在支部：</div><select class="easyui-combobox" name="newYBDY" style="width:200px;" id="Person_Dept5" readonly="readonly" data-options="panelHeight:150,editable:false">
                    <option value="室内检定党支部">室内检定党支部</option>
                    <option value="现场检验党支部">现场检验党支部</option>
                    <option value="标准量传党支部">标准量传党支部</option>
                    <option value="配送党支部">配送党支部</option>
                    <option value="运营管理党支部">运营管理党支部</option>
                    <option value="综合党支部">综合党支部</option>
                    <option value="技术质检党支部">技术质检党支部</option>
                </select></br>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">党支部审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion50" data-options="panelHeight:150,editable:false" readonly="readonly">
                    <option value="通过">通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">党支部审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion50" readonly="readonly" /></br>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">党群部审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion51" data-options="panelHeight:150,editable:false" readonly="readonly">
                    <option value="通过" selected>通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">党群部审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion51" readonly="readonly" /></br>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">审批结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion5" data-options="panelHeight:150,editable:false">
                    <option value="通过">通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">审批意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion5" /></br>
            </div>
        </div>
    </div>
    <div id="dlg_newZGDY_0" class="easyui-dialog" title="预备党员转正流程_第一步_申请转正提报审批" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newZGDY_00();
                }
				}]
			">
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">预备党员员工编号：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_Id6" />
        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">转正申请：</div><input type="file" id="Person_ZZSQ6" style="width:200px;" name="Person_ZZSQ6" data-options="prompt:'请上传转正申请',buttonText:'上传'"></br>
        </div>
        <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
            <div class="sp1">支部大会讨论材料：</div><input type="file" id="Person_ZBDHTL6" style="width:200px;" name="Person_ZBDHTL6" data-options="prompt:'请上传支部大会讨论讨论材料',buttonText:'上传'"></br>
        </div>
    </div>
    <div id="dlg_newZGDY_1" class="easyui-dialog" title="预备党员转正流程_第二步_支部书记审核" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newZGDY_10();
                }
				}]
			">
        <div style="height: 150px;width: 759px;">
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">预备党员姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_Name7" readonly="readonly" />
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">转正申请：</div><a href="##" target="_blank" id="Person_ZZSQ7" style="width:200px;">入党志愿书附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">支部大会讨论材料：</div><a href="##" target="_blank" id="Person_ZBDHTL7" style="width:200px;">政审结论附件</a>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion7" data-options="panelHeight:150,editable:false">
                    <option value="通过" selected>通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion7" /></br>
            </div>

        </div>
    </div>
    <div id="dlg_newZGDY_2" class="easyui-dialog" title="预备党员转正流程_第二步_党委书记审批" style="width:800px;height:350px;padding:10px"
         data-options="modal:true,closed:true,

				buttons: [{
					text:'提交',
					iconCls:'icon-ok',
					handler:function(){
                        operate_newZGDY_20();
                }
				}]
			">
        <div style="height: 150px;width: 759px;">
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">预备党员姓名：</div><input type="text" style="width:200px;" class="easyui-textbox" id="Person_Name8" readonly="readonly" />
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">转正申请：</div><a href="##" target="_blank" id="Person_ZZSQ8" style="width:200px;">入党志愿书附件</a>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">支部大会讨论材料：</div><a href="##" target="_blank" id="Person_ZBDHTL8" style="width:200px;">政审结论附件</a>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">党支部审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion80" data-options="panelHeight:150,editable:false" readonly="readonly">
                    <option value="通过">通过</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">
                <div class="sp1">党支部审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion80" readonly="readonly" /></br>
            </div>
        </div>
        <div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核结论：</div><select class="easyui-combobox" style="width:200px;" id="Conclusion8" data-options="panelHeight:150,editable:false">
                    <option value="通过" selected>通过</option>
                    <option value="延期">延期</option>
                    <option value="不通过">不通过</option>
                </select>
            </div>
            <div style="width:250px;height:100px;padding:10px;margin:auto;float:left">

                <div class="sp1">审核意见：</div>
                <input type="text" style="width:400px;" data-options="multiline:true,height:50" class="easyui-textbox" id="Opinion8" /></br>
            </div>

        </div>
    </div>
    @***************************************************************************************************************@
    <script type="text/javascript">
        var row_;
        var username = "";
        var dept = "";
        var role = "";
        $(function () {
            searchflow();
            $.ajax({
                url: "/FlowSelect/Sessionget",
                type: "get",
                success: function (data) {
                    username = data["username"];
                    dept = data["dept"];
                    role = data["role"];
                },
                error: function () {
                    alert("请求失败！");
                }
            });
            var p = $('#dg').datagrid('getPager');
            if (p) {
                $(p).pagination({ //设置分页功能栏
                    //分页功能可以通过Pagination的事件调用后台分页功能来实现
                    onRefresh: function () {
                        searchflow();
                    }

                });
            }
        });
        function searchflow() {
            $.ajax({
                url: "/MyWork/GetWork",
                type: "get",
                data: {
                },
                success: function (data) {
                    $('#dg').datagrid({ loadFilter: pagerFilter }).datagrid('loadData', data);
                },
                error: function () {
                    alert("请求失败！");
                }
            });

        }
        function operate_formatter(value, row, index) {
            row_ = row;
            return "<a href='#' class='easyui-linkbutton' onclick='openpage(\"" + row.flow_type + "\",\"" + row.flow_order + "\",\"" + row.flow_num + "\")'>操作</a>";
        }
        function openpage(flow_type, flow_order, flow_num) {
            row_.flow_num = flow_num;
            alert("进入" + flow_type + "流程！");
            switch (flow_type) {
                case "发展积极分子":
                    {
                        switch (flow_order) {
                            case "0": { operate_newJJFZ_0(); break; }
                            case "1": { operate_newJJFZ_1(); break; }
                            case "2": { operate_newJJFZ_2(); }
                            //case "3": { operate_newJJFZ_3(); break; }
                            //case "4": { operate_newJJFZ_4(); break; }
                            //case "5": { operate_newJJFZ_5(); }
                            default: break;
                        }
                        break;
                    }
                case "发展党员":
                    {
                        switch (flow_order) {
                            case "0": { operate_newYBDY_0(); break; }
                            case "1": { operate_newYBDY_1(); break; }
                            case "2": { operate_newYBDY_2(); break; }
                            case "3": { operate_newYBDY_3(); break; }
                            case "4": { operate_newYBDY_4(); }
                            default: break;
                        }
                        break;
                    }
                case "党员转正":
                    {
                        switch (flow_order) {
                            case "0": { operate_newZGDY_0(); break; }
                            case "1": { operate_newZGDY_1(); break; }
                            case "2": { operate_newZGDY_2(); }
                            default: break;
                        }
                        break;
                    }
                case "党员评优核查":
                    {
                        switch (flow_order) {
                            case "0": { operate_PMtest_0(); break; }
                            case "1": { operate_PMtest_1(); break; }
                            case "2": { operate_PMtest_2(); }
                            default: break;
                        }
                        break;
                    }
                case "支部换届":
                    {
                        switch (flow_order) {
                            case "0": { operate_PBupdate_0(); break; }
                            case "1": { operate_PBupdate_1(); break; }
                            case "2": { operate_PBupdate_2(); }
                            default: break;
                        }
                        break;
                    }
                default: break;

            }
        }
        function ajaxFileUpload(requrl, params, fileid) {                  //上传附件函数
            var result = "";
            $.ajaxFileUpload({
                url: requrl, //用于文件上传的服务器端请求地址
                type: 'post',
                data: params, //此参数非常严谨，写错一个引号都不行
                secureuri: false, //一般设置为false
                fileElementId: fileid, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                dataType: 'json', //返回值类型 一般设置为json
                async: false,
                success: function (data, status)  //服务器成功响应处理函数
                {
                    result = data["name"];
                    //由于ajaxFileUpload把原来的file元素替换成新的file元素，所以之前绑定的change事件就失效了，需要重新绑定一下
                    //bindFileChange();
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
            return result;
        }
        function operate_newJJFZ_0() {                                 //ZMX，该函数表示：发展积极分子的第一步
            $('#dlg_newJJFZ_0').dialog('open');
        }
        function operate_newJJFZ_00()                                            //ZMX，该函数表示：发展积极分子的第一步
        {
            var Person_Name = $("#Person_Name").textbox('getValue');
            var Person_Dept = $("#Person_Dept").combobox('getValue');
            if (Person_Name == "") { alert("请输入员工姓名!"); return; }
            if (/[^\u4e00-\u9fa5]/.test(Person_Name)) { alert("员工姓名必须完全由汉字组成！"); return; }
            if (dept != Person_Dept) { alert("部门选择不正确！"); return; }
            if ($("#Person_Application").val() == "") { alert("请上传入党申请书！"); return; }
            $.ajax({
                url: "/MyWork/newJJFZ_0",                                      //ZMX，MyWork控制器下的函数名为newJJFZ_0，类型为string
                type: "get",
                data: {
                    "flow_num": row_.flow_num,
                    "Person_Name": Person_Name,
                    "Person_Dept": Person_Dept                                //ZMX，将以上数据传输至后台存入flow_Devemem，其中最后一项是入党申请书路径
                },
                success: function (data) {
                    if (data) {
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num }, "Person_Application");   //上传附件，无序号
                        alert("操作成功！流程的下一步需要" + data + "处理！");     //ZMX，需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newJJFZ_0').dialog('close');
                        searchflow();
                        $("#Person_Name").textbox('setValue', "");
                        $("#Person_Dept").combobox('setValue', "室内检定党支部");
                        $("#Person_Application").val("");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newJJFZ_1() {                                         //ZMX，该函数表示：发展积极分子的第二步中的调取流程前的信息
            $('#dlg_newJJFZ_1').dialog('open');
            var flow_type = row_.flow_type;
            var flow_order = row_.flow_order;
            var flow_num = row_.flow_num;
            $.ajax({
                url: "/MyWork/newJJFZ_1",                                      //ZMX，MyWork控制器下的函数名为newJJFZ_1，类型为JsonResult，返回键值对，用法见Menu控制器
                type: "get",
                data: {
                    "flow_num": flow_num,                                      //ZMX，将流程编号传输至后台查询第一步中上传的信息，以键值对形式返回
                },
                success: function (data) {
                    if (data) {
                        $("#Person_Name0").textbox('setValue', data["Person_Name0"]);     //ZMX，后台返回的键应为Person_Name0，Person_Dept0，Person_Application0
                        $("#Person_Dept0").combobox('setValue', data["Person_Dept0"]);
                        $("#Person_Application0").attr("href", data["Person_Application0"]);  //返回路径形如 http://localhost:54133/Files/完善意见.docx
                    }
                    else
                        alert("流程数据调取失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newJJFZ_10()                                            //ZMX，该函数表示：发展积极分子的第二步中的提交审批意见
        {
            var Opinion = $("#Opinion0").textbox('getValue');
            var Conclusion = $("#Conclusion0").combobox('getValue');
            $.ajax({
                url: "/MyWork/newJJFZ_10",                                      //ZMX，MyWork控制器下的函数名为newJJFZ_10，类型为string
                type: "get",
                data: {
                    "Opinion": Opinion,                                         //ZMX，将审批意见传输至后台，存入一个长度为1000的nvarchar字段中
                    "Conclusion": Conclusion,                                   //ZMX，将审批结论传输至后台，如结果为“通过”则正常给流程所在部门的组织委员，如不通过则直接归档
                    "flow_num": row_.flow_num

                },
                success: function (data) {
                    if (data) {
                        if (Conclusion == "不通过") alert("审核未通过，流程归档！");   //ZMX，如审批结果为不通过，则流程归档，否则继续流转
                        else alert("操作成功！流程的下一步需要" + data + "处理！");     //ZMX，需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newJJFZ_1').dialog('close');
                        searchflow();
                        $("#Opinion0").textbox('setValue', "通过");
                        $("#Conclusion0").combobox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newJJFZ_2() {                                         //ZMX，该函数表示：发展积极分子的第三步中的调取流程前的信息
            $('#dlg_newJJFZ_2').dialog('open');
            var flow_type = row_.flow_type;
            var flow_order = row_.flow_order;
            var flow_num = row_.flow_num;
            $.ajax({
                url: "/MyWork/newJJFZ_2",                                      //ZMX，MyWork控制器下的函数名为newJJFZ_2，类型为JsonResult，返回键值对，用法见Menu控制器
                type: "get",
                data: {
                    "flow_num": flow_num,                                      //ZMX，将流程编号传输至后台查询第一步中上传的信息，以键值对形式返回
                },
                success: function (data) {
                    if (data) {
                        $("#Person_Name1").textbox('setValue', data["Person_Name1"]);     //ZMX，后台返回的键应为Person_Name1，Person_Dept1，Person_Application1
                        $("#Person_Dept1").combobox('setValue', data["Person_Dept1"]);
                    }
                    else
                        alert("流程数据调取失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newJJFZ_20() {                                               //ZMX，该函数表示：发展积极分子的第三步中的上传信息
            var Person_Name = $("#Person_Name1").textbox('getValue');
            var Person_College = $("#Person_College1").textbox('getValue');
            var Person_Phonenum = $("#Person_Phonenum1").textbox('getValue');
            var Person_Email = $("#Person_Email1").textbox('getValue');
            var Person_Sex = $("#Person_Sex1").combobox('getValue');
            var Person_Birth = $("#Person_Birth1").datebox('getValue');
            var Person_CJGZdate = $("#Person_CJGZdate1").datebox('getValue');
            var Person_Eduback = $("#Person_Eduback1").combobox('getValue');
            var Person_Degree = $("#Person_Degree1").combobox('getValue');
            var Person_Dept = $("#Person_Dept1").combobox('getValue');
            if (Person_Phonenum == "") { alert("请输入手机号码"); return; }
            if (Person_Email == "") { alert("请输入电子邮箱"); return; }
            if (Person_College == "") { alert("请输入毕业院校"); return; }
            if (/[^\u4e00-\u9fa5]/.test(Person_College)) { alert("毕业院校必须完全由汉字组成！"); return; }
            if (!(Person_Phonenum.length == 11 && /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(14[0-9]{1})|)+\d{8})$/.test(Person_Phonenum))) { alert("电话号码输入异常！"); return; }
            if (/^\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(Person_Email) == false) { alert("电子邮箱输入异常！"); return; }

            $.ajax({
                url: "/MyWork/newJJFZ_20",
                type: "get",
                data: {
                    "Person_Name": Person_Name,              //将输入内容传至后台newJJFZ_20函数中插入进数据库，方法类似PersonManage中的Addperson
                    "Person_Sex": Person_Sex,
                    "Person_Birth": Person_Birth,
                    "Person_CJGZdate": Person_CJGZdate,
                    "Person_Eduback": Person_Eduback,
                    "Person_Degree": Person_Degree,
                    "Person_College": Person_College,
                    "Person_Phonenum": Person_Phonenum,
                    "Person_Email": Person_Email,
                    "Person_Dept": Person_Dept,
                    "flow_num": row_.flow_num,

                },
                success: function (data) {
                    if (data == 1) {
                        alert("操作成功！积极分子" + Person_Name + "信息已经录入，流程归档！");
                        $('#dlg_newJJFZ_2').dialog('close');
                        searchflow();
                        $("#Person_Name").textbox('setValue', "");
                        $("#Person_College").textbox('setValue', "");
                        $("#Person_Phonenum").textbox('setValue', "");
                        $("#Person_Email").textbox('setValue', "");
                        $("#Person_Sex").combobox('setValue', "男");
                        $("#Person_Eduback").combobox('setValue', "大学专科");
                        $("#Person_Degree").combobox('setValue', "学士学位");
                        $("#Person_Dept").combobox('setValue', "室内检定党支部");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newYBDY_0() {                                 //ZMX，该函数表示：发展预备党员的第一步
            $('#dlg_newYBDY_0').dialog('open');
        }
        function operate_newYBDY_00()                                            //ZMX，该函数表示：发展预备党员的第一步
        {
            var Person_Id = $("#Person_Id2").textbox('getValue');
            var Person_IntroducerA = $("#Person_IntroducerA2").textbox('getValue');
            var Person_IntroducerB = $("#Person_IntroducerB2").textbox('getValue');
            var Person_Dept = $("#Person_Dept2").combobox('getValue');
            //var Person_Willing = $("#Person_Willing2").filebox('getValue');
            //var Person_ZSJL = $("#Person_ZSJL2").filebox('getValue');
            //var Person_DeptOpi = $("#Person_DeptOpi2").filebox('getValue');
            //var Person_DWOpi = $("#Person_DWOpi2").filebox('getValue');
            //var Person_Train = $("#Person_Train2").filebox('getValue');
            if (/^\+?[1-9][0-9]*$/.test(Person_Id) == false) { alert("积极分子员工编号输入异常！"); return; }
            if (/^\+?[1-9][0-9]*$/.test(Person_IntroducerA) == false) { alert("入党介绍人1员工编号输入异常！"); return; }
            if (/^\+?[1-9][0-9]*$/.test(Person_IntroducerB) == false) { alert("入党介绍人2员工编号输入异常！"); return; }
            if (Person_Id == "" || Person_IntroducerA == "" || Person_IntroducerB == "" || Person_Dept == "") { alert("信息填写不全，请补全！"); return; }
            if (dept != Person_Dept) { alert("部门选择不正确！"); return; }
            if ($("#Person_Willing2").val() == "") { alert("请上传入党志愿书！"); return; }
            if ($("#Person_ZSJL2").val() == "") { alert("请上传政审结论！"); return; }
            if ($("#Person_DeptOpi2").val() == "") { alert("请上传支部意见！"); return; }
            if ($("#Person_DWOpi2").val() == "") { alert("请上传党委意见！"); return; }
            if ($("#Person_Train2").val() == "") { alert("请上传集中培训证明！"); return; }

            //ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "1"  }, "Person_Willing2");
            //ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "2"  }, "Person_ZSJL2");
            //ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "3"  }, "Person_DeptOpi2");
            //ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "4"  }, "Person_DWOpi2");
            //ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "5"  }, "Person_Train2");

            $.ajax({
                url: "/MyWork/newYBDY_0",                                      //ZMX，MyWork控制器下的函数名为newYBDY_0，类型为string
                type: "get",
                data: {                                                        //ZMX，将以上数据传输至后台存入flow_YBDY（数据库中新表），其中最后一项
                    "Person_Id": Person_Id,                                    //积极分子ID，但存的时候要存ID和姓名
                    "Person_IntroducerA": Person_IntroducerA,                  //入党介绍人A的ID，但存的时候要存ID和姓名
                    "Person_IntroducerB": Person_IntroducerB,                  //入党介绍人B的ID，但存的时候要存ID和姓名
                    "Person_Dept": Person_Dept,                                //积极分子党支部
                    //"Person_Willing": Person_Willing,                          //入党志愿书扫描件
                    //"Person_ZSJL": Person_ZSJL,                                //政审结论扫描件
                    //"Person_DeptOpi": Person_DeptOpi,                          //部门意见扫描件
                    //"Person_DWOpi": Person_DWOpi,                              //党委意见扫描件
                    //"Person_Train": Person_Train,                              //培训证明扫描件
                    "flow_num": row_.flow_num
                },
                success: function (data) {
                    if (data) {
                        if (data == "1")                                             //ZMX，如积极分子编号或入党介绍人编号不存在，则返回空字符串
                        {
                            alert("积极分子或介绍人员工编号填写错误，请检查！");
                            return;
                        }
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "1" }, "Person_Willing2");   //上传附件，序号为1
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "2" }, "Person_ZSJL2");      //上传附件，序号为2
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "3" }, "Person_DeptOpi2");   //上传附件，序号为3
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "4" }, "Person_DWOpi2");     //上传附件，序号为4
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "5" }, "Person_Train2");     //上传附件，序号为5
                        alert("操作成功！流程的下一步需要" + data + "处理！");     //ZMX，输入正常，则需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newYBDY_0').dialog('close');
                        searchflow();
                        $("#Person_Id2").textbox('setValue', "");
                        $("#Person_IntroducerA2").textbox('setValue', "");
                        $("#Person_IntroducerB2").textbox('setValue', "");
                        $("#Person_Dept2").combobox('setValue', "室内检定党支部");
                        //$("#Person_Willing2").filebox('setValue', "");
                        //$("#Person_ZSJL2").filebox('setValue', "");
                        //$("#Person_DeptOpi2").filebox('setValue', "");
                        //$("#Person_DWOpi2").filebox('setValue', "");
                        //$("#Person_Train2").filebox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newYBDY_1() {                                         //ZMX，该函数表示：发展积极分子的第二步中的调取流程前的信息
            $('#dlg_newYBDY_1').dialog('open');
            var flow_type = row_.flow_type;
            var flow_order = row_.flow_order;
            var flow_num = row_.flow_num;
            $.ajax({
                url: "/MyWork/newYBDY_1",                                      //ZMX，MyWork控制器下的函数名为newYBDY_1，类型为JsonResult，返回键值对，用法见Menu控制器
                type: "get",
                data: {
                    "flow_num": flow_num,                                      //ZMX，将流程编号传输至后台查询第一步中上传的信息，以键值对形式返回
                },
                success: function (data) {                                     //返回上一步中填写的基本信息，其中
                    if (data) {
                        $("#Person_Name3").textbox('setValue', data["Person_Name3"]);
                        $("#Person_IntroducerA3").textbox('setValue', data["Person_IntroducerA3"]);
                        $("#Person_IntroducerB3").textbox('setValue', data["Person_IntroducerB3"]);
                        $("#Person_Dept3").combobox('setValue', data["Person_Dept3"]);
                        $("#Person_Willing3").attr("href", data["Person_Willing3"]);
                        $("#Person_ZSJL3").attr("href", data["Person_ZSJL3"]);
                        $("#Person_DeptOpi3").attr("href", data["Person_DeptOpi3"]);
                        $("#Person_DWOpi3").attr("href", data["Person_DWOpi3"]);
                        $("#Person_Train3").attr("href", data["Person_Train3"]);
                    }
                    else
                        alert("流程数据调取失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newYBDY_10()                                            //ZMX，该函数表示：发展预备党员的第二步中的支部审核意见
        {
            var Opinion = $("#Opinion3").textbox('getValue');
            var Conclusion = $("#Conclusion3").combobox('getValue');
            $.ajax({
                url: "/MyWork/newYBDY_10",                                      //ZMX，MyWork控制器下的函数名为newYBDY_10，类型为string
                type: "get",
                data: {
                    "Opinion": Opinion,                                         //ZMX，将审批意见传输至后台，存入一个长度为1000的nvarchar字段中
                    "Conclusion": Conclusion,                                   //ZMX，将审批结论传输至后台，如结果为“通过”则正常给流程所在部门的组织委员，如不通过则直接归档
                    "flow_num": row_.flow_num,
                },
                success: function (data) {
                    if (data) {
                        if (Conclusion == "不通过") alert("审核未通过，流程归档！");   //ZMX，如审批结果为不通过，则流程归档，否则继续流转
                        else alert("操作成功！流程的下一步需要" + data + "处理！");     //ZMX，需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newYBDY_1').dialog('close');
                        searchflow();
                        $("#Opinion3").textbox('setValue', "通过");
                        $("#Conclusion3").combobox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newYBDY_2() {                                         //ZMX，该函数表示：发展积极分子的第二步中的调取流程前的信息
            $('#dlg_newYBDY_2').dialog('open');
            var flow_type = row_.flow_type;
            var flow_order = row_.flow_order;
            var flow_num = row_.flow_num;
            $.ajax({
                url: "/MyWork/newYBDY_2",                                      //ZMX，MyWork控制器下的函数名为newYBDY_2，类型为JsonResult，返回键值对，用法见Menu控制器
                type: "get",
                data: {
                    "flow_num": flow_num,                                      //ZMX，将流程编号传输至后台查询第一步中上传的信息，以键值对形式返回
                },
                success: function (data) {                                     //返回上一步中填写的基本信息，其中
                    if (data) {
                        $("#Person_Name4").textbox('setValue', data["Person_Name4"]);
                        $("#Person_IntroducerA4").textbox('setValue', data["Person_IntroducerA4"]);
                        $("#Person_IntroducerB4").textbox('setValue', data["Person_IntroducerB4"]);
                        $("#Person_Dept4").combobox('setValue', data["Person_Dept4"]);
                        $("#Person_Willing4").attr("href", data["Person_Willing4"]);
                        $("#Person_ZSJL4").attr("href", data["Person_ZSJL4"]);
                        $("#Person_DeptOpi4").attr("href", data["Person_DeptOpi4"]);
                        $("#Person_DWOpi4").attr("href", data["Person_DWOpi4"]);
                        $("#Person_Train4").attr("href", data["Person_Train4"]);
                        $("#Conclusion40").combobox('setValue', data["Conclusion40"]);
                        $("#Opinion40").textbox('setValue', data["Opinion40"]);
                    }
                    else
                        alert("流程数据调取失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newYBDY_20()                                            //ZMX，该函数表示：发展预备党员的第三步中的党群部审核意见
        {
            var Opinion = $("#Opinion4").textbox('getValue');
            var Conclusion = $("#Conclusion4").combobox('getValue');
            $.ajax({
                url: "/MyWork/newYBDY_20",                                      //ZMX，MyWork控制器下的函数名为newYBDY_20，类型为string
                type: "get",
                data: {
                    "Opinion": Opinion,                                         //ZMX，将审批意见传输至后台，存入一个长度为1000的nvarchar字段中
                    "Conclusion": Conclusion,                                   //ZMX，将审批结论传输至后台，如结果为“通过”则正常给流程所在部门的组织委员，如不通过则直接归档
                    "flow_num": row_.flow_num,
                },
                success: function (data) {
                    if (data) {
                        if (Conclusion == "不通过") alert("审核未通过，流程归档！");   //ZMX，如审批结果为不通过，则流程归档，否则继续流转
                        else alert("操作成功！流程的下一步需要" + data + "处理！");     //ZMX，需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newYBDY_2').dialog('close');
                        searchflow();
                        $("#Opinion4").textbox('setValue', "通过");
                        $("#Conclusion4").combobox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newYBDY_3() {                                         //ZMX，该函数表示：发展积极分子的第三步中的调取流程前的信息
            $('#dlg_newYBDY_3').dialog('open');
            var flow_type = row_.flow_type;
            var flow_order = row_.flow_order;
            var flow_num = row_.flow_num;
            $.ajax({
                url: "/MyWork/newYBDY_3",                                      //ZMX，MyWork控制器下的函数名为newYBDY_3，类型为JsonResult，返回键值对，用法见Menu控制器
                type: "get",
                data: {
                    "flow_num": flow_num,                                      //ZMX，将流程编号传输至后台查询第一步中上传的信息，以键值对形式返回
                },
                success: function (data) {                                     //返回上一步中填写的基本信息，其中
                    if (data) {
                        $("#Person_Name5").textbox('setValue', data["Person_Name5"]);
                        $("#Person_IntroducerA5").textbox('setValue', data["Person_IntroducerA5"]);
                        $("#Person_IntroducerB5").textbox('setValue', data["Person_IntroducerB5"]);
                        $("#Person_Dept5").combobox('setValue', data["Person_Dept5"]);
                        $("#Person_Willing5").attr("href", data["Person_Willing5"]);
                        $("#Person_ZSJL5").attr("href", data["Person_ZSJL5"]);
                        $("#Person_DeptOpi5").attr("href", data["Person_DeptOpi5"]);
                        $("#Person_DWOpi5").attr("href", data["Person_DWOpi5"]);
                        $("#Person_Train5").attr("href", data["Person_Train5"]);
                        $("#Conclusion50").combobox('setValue', data["Conclusion50"]);
                        $("#Opinion50").textbox('setValue', data["Opinion50"]);
                        $("#Conclusion51").combobox('setValue', data["Conclusion51"]);
                        $("#Opinion51").textbox('setValue', data["Opinion51"]);
                    }
                    else
                        alert("流程数据调取失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newYBDY_30()                                            //ZMX，该函数表示：发展预备党员的第四步中的党委审核意见
        {
            var Opinion = $("#Opinion5").textbox('getValue');
            var Conclusion = $("#Conclusion5").combobox('getValue');
            $.ajax({
                url: "/MyWork/newYBDY_30",                                      //ZMX，MyWork控制器下的函数名为newYBDY_30，类型为string
                type: "get",
                data: {
                    "Opinion": Opinion,                                         //ZMX，将审批意见传输至后台，存入一个长度为1000的nvarchar字段中
                    "Conclusion": Conclusion,                                   //ZMX，将审批结论传输至后台，如结果为“通过”则正常给流程所在部门的组织委员，如不通过则直接归档
                    "flow_num": row_.flow_num,
                },
                success: function (data) {
                    if (data) {
                        if (Conclusion == "不通过") alert("审批未通过，流程归档！");   //ZMX，如审批结果为不通过，则流程归档，否则继续流转
                        else alert("审批通过！流程归档！");                            //ZMX，需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newYBDY_3').dialog('close');
                        searchflow();
                        $("#Opinion5").textbox('setValue', "通过");
                        $("#Conclusion5").combobox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newZGDY_0() {                                   //ZMX，该函数表示：预备党员转正的第一步
            $('#dlg_newZGDY_0').dialog('open');
        }
        function operate_newZGDY_00()                                            //ZMX，该函数表示：预备党员转正的第一步
        {
            var Person_Id = $("#Person_Id6").textbox('getValue');
            if (/^\+?[1-9][0-9]*$/.test(Person_Id) == false) { alert("积极分子员工编号输入异常！"); return; }
            if (Person_Id == "") { alert("信息填写不全，请补全！"); return; }
            if ($("#Person_ZZSQ6").val() == "") { alert("请上传转正申请！"); return; }
            if ($("#Person_ZBDHTL6").val() == "") { alert("请上传支部大会讨论材料！"); return; }
            $.ajax({
                url: "/MyWork/newZGDY_0",                                      //ZMX，MyWork控制器下的函数名为newZGDY_0，类型为string
                type: "get",
                data: {                                                        //ZMX，将数据传输至后台存入flow_****（数据库中新表），其中最后一项
                    "Person_Id": Person_Id,                                    //预备党员ID，但存的时候要存ID和姓名
                    "flow_num": row_.flow_num
                },
                success: function (data) {
                    if (data) {
                        if (data == "1")                                             //ZMX，如预备党员编号不存在或人员条件不符，则返回空字符串
                        {
                            alert("积极分子或介绍人员工编号填写错误，请检查！");
                            return;
                        }
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "6" }, "Person_ZZSQ6");        //上传附件，序号为6，后台FileUpload方法需调整
                        ajaxFileUpload('/MyWork/FileUpload', { "Id": row_.flow_num, "Type": "7" }, "Person_ZBDHTL6");      //上传附件，序号为7，后台FileUpload方法需调整
                        alert("操作成功！流程的下一步需要" + data + "处理！");     //ZMX，输入正常，则需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newZGDY_0').dialog('close');
                        searchflow();
                        $("#Person_Id6").textbox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newZGDY_1() {                                         //ZMX，该函数表示：党员转正的第二步中的调取流程前的信息
            $('#dlg_newZGDY_1').dialog('open');
            var flow_type = row_.flow_type;
            var flow_order = row_.flow_order;
            var flow_num = row_.flow_num;
            $.ajax({
                url: "/MyWork/newZGDY_1",                                      //ZMX，MyWork控制器下的函数名为newZGDY_1，类型为JsonResult，返回键值对，用法见Menu控制器
                type: "get",
                data: {
                    "flow_num": flow_num,                                      //ZMX，将流程编号传输至后台查询第一步中上传的信息，以键值对形式返回
                },
                success: function (data) {                                     //返回上一步中填写的基本信息，其中
                    if (data) {
                        $("#Person_Name7").textbox('setValue', data["Person_Name7"]);
                        $("#Person_ZZSQ7").attr("href", data["Person_ZZSQ7"]);
                        $("#Person_ZBDHTL7").attr("href", data["Person_ZBDHTL7"]);
                    }
                    else
                        alert("流程数据调取失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newZGDY_10()                                            //ZMX，该函数表示：党员转正的第二步中的支部审核意见
        {
            var Opinion = $("#Opinion7").textbox('getValue');
            var Conclusion = $("#Conclusion7").combobox('getValue');
            $.ajax({
                url: "/MyWork/newZGDY_10",                                      //ZMX，MyWork控制器下的函数名为newZGDY_10，类型为string
                type: "get",
                data: {
                    "Opinion": Opinion,                                         //ZMX，将审批意见传输至后台，存入一个长度为1000的nvarchar字段中
                    "Conclusion": Conclusion,                                   //ZMX，将审批结论传输至后台
                    "flow_num": row_.flow_num,
                },
                success: function (data) {
                    if (data) {
                        if (Conclusion == "不通过") alert("审核未通过，流程归档！");   //ZMX，如审批结果为不通过，则流程归档，否则继续流转
                        else alert("操作成功！流程的下一步需要" + data + "处理！");     //ZMX，需要返回一个string给data，内容形如"配送党支部的支部书记王强"
                        $('#dlg_newZGDY_1').dialog('close');
                        searchflow();
                        $("#Opinion7").textbox('setValue', "通过");
                        $("#Conclusion7").combobox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newZGDY_2() {                                         //ZMX，该函数表示：党员转正的第三步中的调取流程前的信息
            $('#dlg_newZGDY_2').dialog('open');
            var flow_type = row_.flow_type;
            var flow_order = row_.flow_order;
            var flow_num = row_.flow_num;
            $.ajax({
                url: "/MyWork/newZGDY_2",                                      //ZMX，MyWork控制器下的函数名为newZGDY_2，类型为JsonResult，返回键值对，用法见Menu控制器
                type: "get",
                data: {
                    "flow_num": flow_num,                                      //ZMX，将流程编号传输至后台查询第一步中上传的信息，以键值对形式返回
                },
                success: function (data) {                                     //返回上一步中填写的基本信息，其中
                    if (data) {
                        $("#Person_Name8").textbox('setValue', data["Person_Name8"]);
                        $("#Person_ZZSQ8").attr("href", data["Person_ZZSQ8"]);
                        $("#Person_ZBDHTL8").attr("href", data["Person_ZBDHTL8"]);
                    }
                    else
                        alert("流程数据调取失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
        function operate_newZGDY_20()                                            //ZMX，该函数表示：党员转正的第三步中的党委审批意见
        {
            var Opinion = $("#Opinion8").textbox('getValue');
            var Conclusion = $("#Conclusion8").combobox('getValue');
            $.ajax({
                url: "/MyWork/newZGDY_20",                                      //ZMX，MyWork控制器下的函数名为newZGDY_20，类型为string
                type: "get",
                data: {
                    "Opinion": Opinion,                                         //ZMX，将审批意见传输至后台，存入一个长度为1000的nvarchar字段中
                    "Conclusion": Conclusion,                                   //ZMX，将审批结论传输至后台
                    "flow_num": row_.flow_num,
                },
                success: function (data) {
                    if (data) {
                        if (Conclusion == "不通过") alert("审批结果：未通过！流程归档！");   //ZMX，如审批结果为不通过，则流程归档，政治面貌变为积极分子
                        else if (Conclusion == "延期") alert("审批结果：转正延期！流程归档！");  //ZMX，如审批结果为延期，则流程归档，无其他操作
                        else alert("审批结果：通过！流程归档");                         //ZMX，如审批结果为通过，则流程归档，政治面貌变为中共党员
                        $('#dlg_newZGDY_2').dialog('close');
                        searchflow();
                        $("#Opinion8").textbox('setValue', "通过");
                        $("#Conclusion8").combobox('setValue', "");
                    }
                    else
                        alert("操作失败！");
                },
                error: function () {
                    alert("请求失败！");
                }
            });
        }
    </script>
</body>

</html>