@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

    <title>国网辽宁计量中心党建系统</title>
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/JS/jquery-easyui-1.7.0/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Common.css">
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/JS/jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/JS/Common.js"></script>

</head>
<body>
    <div>
        <div style="width:800px;height:700px;padding:10px;margin:auto">
            </br>
            </br>
            </br>
            <span class="sp1">流程类型：</span><select class="easyui-combobox" name="state" style="width:150px;" id="FlowType" data-options="panelHeight:150">
                <option value="发展积极分子">发展积极分子</option>
                <option value="发展党员">发展党员</option>
                <option value="党员转正">党员转正</option>
                <option value="党员评优核查">党员评优核查</option>
                <option value="支部换届">支部换届</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="sp1">党支部：</span><select class="easyui-combobox" name="state" style="width:150px;" id="FlowDept" data-options="panelHeight:150">
                <option value="中心党群">中心党群</option>
                <option value="室内检定党支部">室内检定党支部</option>
                <option value="现场检验党支部">现场检验党支部</option>
                <option value="标准量传党支部">标准量传党支部</option>
                <option value="配送党支部">配送党支部</option>
                <option value="运营管理党支部">运营管理党支部</option>
                <option value="综合党支部">综合党支部</option>
                <option value="技术质检党支部">技术质检党支部</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="sp1"><a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="flowstart()">发起流程</a></span>
        </div>
    </div>
</body>
<script type="text/javascript">
    function flowstart()
    {
        var FlowType = $("#FlowType").combobox('getValue');
        var FlowDept = $("#FlowDept").combobox('getValue');
        alert(FlowType);
        $.ajax({
            url: "/FlowStart/addflow",
            type: "get",
            data: {
                "FlowType": FlowType,
                "FlowDept": FlowDept,
            },
            success: function (data) {
                if (data == 1) {
                    alert("发起流程成功！当前流程在" + FlowDept + "的"+ data + "账号下");
                }
                else
                    alert("发起流程失败！");
            },
            error: function () {
                alert("请求失败！");
            }
        });
    }
    </script>
</html >
